.compress-area{
    min-height : 730px;
}

.container {
    max-width : 1230px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.center-text {
    text-align : center !important;
}

.tool_title{
    font-size: 40px;
    font-weight: bold;
}

.desc_tool {
    font-size : 18px;
    margin-top : 15px;
}

.justify-content-center {
    justify-content: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.uploader-container {
    background-color: #223544;
    border-color: #707375;
    margin-top: 2.5rem;
    position: relative;
    display : flex;
    align-items : center;
    transition: 0.2s;
    border-radius: 12px;
    padding: 24px;
    justify-content: center;
    flex-direction: column;
    min-height: 366px;
    box-shadow: 3px 10px 40px rgba(24, 29, 32, 0.05);
    border: none;
}

.uploader-inner {
    background: none;
}

.file-upload-div {
    background: none;
}

.file-upload-div button {
    border : none;
    background-color: #1a8fe3 ;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    transition: 0.3s;
}

.file-upload-div button:hover {
    background-color: #126daf;
    cursor : pointer;
}

.none {
    display: none;
}

.drag-text {
    background : none;
    color: #C8C9CA;
    font-size : 18px;
    margin-top: 15px;
    margin-left : 30px;
}

.input-msg {
    margin-top : 50px;
}

.input-msg textarea,
.form-group textarea {
    background: none;
}

.label {
    font-size: 20px;
    margin-bottom: 10px;
    display : inline-block;
    background: none;
}
.label #bold {
    background: none;
    font-weight: 600;
}

.form-control {
    font-size: 0.9rem;
    resize: none;
    border-radius: 8px;
    padding: 16px;
    height: auto;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    /* border-color : #80bdff; */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-control:active {
    color : #fff;
}

.hide-btn button{
    border : none;
    background-color: #1a8fe3 ;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    transition: 0.3s;
    margin-top : 20px;
    margin-bottom : 30px;
}

.hide-btn button:hover {
    background-color: #126daf;
    cursor : pointer;
}

.uploader-container img {
    width: 300px;
}

.image-container {
    background: none;
}

.source-img {
    background: none;
    font-size : 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.row-inner {
    display: flex;
    flex-wrap: wrap;
    background: none;
    justify-content: space-between;
    width : 70%;
}

.decode-btn button {
    margin-top : 30px;
    padding : 12px 20px;
    justify-content: center;
}

.decoded-text-title {
    margin-top: 30px;
}
